.login-container {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 88vh;
}

.login-box {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    min-height: 40vh;
    width: 40vw;
    background-color: rgb(60, 60, 60);
    border-radius: 25px;
    padding-bottom: 20px;
    padding-top: 20px;
    user-select: none;
}

.login-box h2 {
    font-size: large;
    color: rgb(252, 252, 252);
}

.login-box p {
    font-size: smaller;
    color: rgb(252, 252, 252);
}

.login-box p a {
    color: rgb(110, 170, 230);
}
.login-box p a:hover {
    text-decoration: underline;
    cursor: pointer;
}


.login-box button {
    border-style: none;
    border-radius: 4px;
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 8px;
    padding-bottom: 8px;
    color: white;
    background-color: rgb(31, 31, 31);

}

.login-box button:hover {
    cursor: pointer;
    background-color: rgb(168, 168, 168);
    color: black;
    transition: 0.5s ease;
}

.login-box .inputs {
    display: flex;
    align-items: center;
    width: 280px;
    height: 40px;
    gap: 15px;
    margin-bottom: 20px;
    outline: none;
    border: none;
    border-radius: 5px;
    background-color: rgb(231, 231, 231);
    border: none;
    outline: none;
}

.login-box .inputs img {
    width: 20px;
    margin: 0 30px;
    user-select: none;
}

.login-box .inputs input {
    border: none;
    outline: none;
    height: 100%;
    width: 100%;
    font-size: small;
    background-color: transparent;
}

.login-box .cycle{
    padding-top: 10px;
    width: 100px;
    height: 100px;
    margin-bottom: 20px;
    user-select: none;
}

.login-box .buttons {
    display: flex;
    gap: 10px;
    justify-content: center;
    margin-bottom: 30px;
}

.hidden {
    display: none;
}
