

.dashbar-ul {
    display: flex;
    align-items: center;
    list-style: none;
    flex-direction: column;
    gap: 2px;
    background-color: rgb(39, 39, 39);
    padding: 0;
    height: 250vh;
    margin: 0;
    user-select: none;
}

.dashbar-li {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 10vw;
    height: 5vh;
    color: rgb(169, 169, 169);
    font-size: 16px;
    

}

.dashbar-ul .dashbar-li:hover{
    border-radius: 5px;
    color: rgb(169, 169, 169);
    transition: 0.5s ease;
    background-color: rgb(18, 18, 18);

}

.dashbar-li-active {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 10vw;
    height: 5vh;
    color: rgb(169, 169, 169);
    background-color: rgb(18, 18, 18);
    font-size: 16px;
}

.dashbar-title {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.5rem;
    background-color: rgb(39, 39, 39);
    color: rgb(204, 204, 204);
    padding: 1rem 1rem;
    user-select: none;
}