* {
    margin: 0;
    padding: 0;
}

.bar {
    display: flex;
    align-items: center;
    padding: 0 0 0 10px;
    height: 7vh;
    background-color: rgb(39, 39, 39);
    color: rgb(255, 255, 255);
    filter: drop-shadow(0 0 10px #0000002f);
}

.dashboard-logo {
    width: 6%;
    user-select: none;
}

.dashboard-logo:hover {
    cursor: pointer;
    width: 7%;
    transition: 0.5s ease;
}
.dashboard-logo:hover {
    cursor: pointer;
    width: 6.5%;
}

.dashboard-container {
    /* background-color: rgb(30, 30, 30); */
    height: 100vh;
    background-color: rgb(174, 174, 174);
}

.dashboard-viewport {
    display: flex;
}

.sections-container {
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
}