.Link-Plaid-Container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.card-text-container {
    display: flex;
    justify-content: center;;
}

.wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    border: 3px solid rgba(182, 182, 182, 0.258);
    padding: 1rem;
    border-radius:0.4rem;
    background:rgba(255, 251, 244, 0.81);
    filter: drop-shadow(0 0 20px rgba(0, 0, 0, 0.286));
}
.Link-Plaid-Container .Card {
    display: flex;
    justify-content: center;
    align-items: center;
    /* background-color: rgb(94, 92, 89); */
    color: rgb(41, 41, 41);
    width: 30rem;
    height: fit-content;
    border-radius: 0.4rem;
}

.Link-Plaid-Container .Card h1 {
    font-size: 1.5rem;
    font-weight: 600;
}
.Link-Plaid-Container .Card p {
    /* filter: drop-shadow(0 0 20px rgba(0, 0, 0, 0.795)); */
    color: rgb(25, 195, 22);
    font-size: 1.2rem;
    font-weight: 500;
}