.Link-Plaid-Container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.Link-Plaid-Container .Card {
    background-color: rgb(94, 92, 89);
    color: rgb(255, 255, 255);
    width: 30rem;
    height: 20rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    border-radius: 1rem;
    padding: 2rem
}

.Link-Plaid-Container .Card h1 {
    font-size: 1.5rem;
    font-weight: 600;
}
.Link-Plaid-Container .Card p {
    font-size: 1.1rem;
    font-weight: 400;
}