#link-button {
    height: 2rem;
    width: 10rem;
    background-color: rgb(242, 242, 242);
    color: black;
    font-size: 1rem;
    font-weight: 500;
    transition: 0.3s ease;
    border-style:none;
    border-radius:5px;
}

#link-button:hover {
    cursor: pointer;
    background-color: rgb(255, 223, 169);
}