.transactions-page-container {
    width: inherit;
    /* background-color: red; */
}


.transactions-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    position: relative;
    margin: 0;
    border-radius: 1rem;
    /* background-color: blue; */
}

.transactions-bar {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    padding: 1rem;
    border-radius: 1rem;
    width: 50rem;
}