.regular {
    display: flex;
    align-items: center;
    width: 20rem;
    height: 13rem;
    margin: 0;
    padding: 0;
    background-color: rgb(39, 39, 39);
    color: rgb(255, 255, 255);
    border-radius: 25px;
}

.graph {
    display: flex;
    align-items: center;
    width: 710px;
    height: 13rem;
    padding: 0;
    margin: 0;
    background-color: rgb(39, 39, 39);
    color: rgb(255, 255, 255);
    border-radius: 25px;
}
.chart {
    display: flex;
    align-items: center;
    width: 40rem;
    height: 26rem;
    margin: 0;
    padding: 0;
    background-color: rgb(39, 39, 39);
    color: rgb(255, 255, 255);
    border-radius: 25px;
}






/* intra card */

.card-text-container {
    display: flex;
    flex-direction: column;
    align-items: left;
    gap: 0.5rem;
    margin-left: 3rem;
}

.title {
    display: flex;
    justify-content: space-between;
    width: 16rem;
    font-size: 1.3rem;
    font-weight: 400;
    opacity: 70%;
}

.manage-settings:hover {
    cursor: pointer;
}

.amount {
    font-size: 2.5rem;
}

.kpi {
    display: flex;
    flex-direction: row;
    font-size: 1.1rem;
    color: rgb(164, 255, 164);
    padding-top: 2rem;
}