.transactions-list-horizontal {
    display: flex;
    flex-direction: row;
    gap: 10px;
    max-width:95vw;
    height: 12rem;
    max-height: 80rem;
    overflow-y: auto;
    scrollbar-color: #393939 #00000019;
    /* height: 3rem; */
}


.transactions-list-vertical {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 50rem;
    max-height: 40vh;
    overflow-y: auto;
    padding: 5px;
    scrollbar-color: #393939 #00000019;
    /* height: 3rem; */
}

.transaction-item {
    background-color: rgb(255, 251, 247);
    /* background: white; */
    border: 1px solid #e0e0e0;
    border-radius: 8px;
    padding: 2rem;
    transition: 0.2s ease;
}

.transaction-item:hover {
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    background-color: #ccccccda;
}

.transaction-header {
    display: flex;
    justify-content: space-between;
    /* flex-direction: column; */
    align-items: flex-start;
    margin-bottom: 8px;
}

.transaction-name {
    font-weight: 800;
    font-size: 1.5em;
    color: #393939;
    width: 15rem;
}

.transaction-amount {
    font-weight: 700;
    font-size: 16px;
}

.transaction-amount.expense {
    color: #e74c3c;
}

.transaction-amount.income {
    color: #27ae60;
}

.transaction-details {
    display: flex;
    flex-direction: row;
    align-items: center;
    /* gap: 30px; */
    justify-content: space-between;
    gap: 1rem;
    font-size: 14px;
    color: #626262;
    /* background-color: red; */
}

.transaction-category {
    display: flex;
    width: fit-content;
    background: #f0f0f0;
    padding: 5px 10px;
    border-radius: 1rem;
    font-size: 13px;
}

.transaction-date {
    font-style: italic;
    font-weight:600;
    color: #626262;;
}

/* Tablet screens */
@media (min-width: 769px) and (max-width: 1024px) {
    .transactions-list-vertical {
        width: 51rem;
    }
    .transactions-list-horizontal {
        width: 50rem;
    }
}
