@property --angle {
  syntax: '<angle>';
  initial-value: 0deg;
  inherits: false;
}
.home-wrapper {
    background-color: white;
    /* background:linear-gradient(white, #f4ebe3 ); */
    background:linear-gradient(white, #d7e0f2 );
    /* background:linear-gradient(#f0f5ff,white ); */
    /* background:linear-gradient(white, #f0f5ff ); */
}

.hero-container {
    margin-top: 50px;
    height: 100%;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.hero-container h1 {
    font-family: 'Editorial New';
    font-weight: 300;
    letter-spacing: -4px;
    text-align: center;
    font-size: 7rem;
    color: #0e0f11;
}
.hero-img-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: auto;
    height: fit-content;
}
.hero-img {
    display: flex;
    justify-content: center;
    align-items: center;
    height: fit-content;
    width: fit-content;
    margin: 50px 0 40px 0;
    opacity: 80%;
    transition: 0.5s ease;
    user-select: none;
}
.hero-img:hover {
    filter: drop-shadow(0 0 50px #5f9aff46);
}
.hero-img img{
    filter: saturate(40%);
    /* shiny border */
    border: 5px solid transparent !important;
    background:
    linear-gradient(#222, #222) padding-box, 
    conic-gradient(from var(--angle), 
        #5672ab, 
        #265ece, 
        #bcd2ff, /* This is your "shine" beam */
        #265ece, 
        #5672ab) border-box;
    
    height: auto;
    width: 89vw;
    border-radius: 15px;
    padding: 0;
    transform: perspective(600px) rotateY(0deg) rotateX(1.3deg);
    -webkit-mask-image: linear-gradient(to bottom, black 30%, transparent 100%);
    mask-image: linear-gradient(to bottom, black 30%, transparent 100%);
    mask-size: 100% 200%; 
    mask-position: 0 100%; /* Shows the top half (black) */
    transition: --angle 0.7s ease, transform 0.5s ease, filter 0.5s ease, mask-position 0.5s ease, width 0.7s ease;
}

.hero-img img:hover {
    mask-position: 0 0%; /* Slides to the bottom half */
    width:93vw;
    filter: saturate(100%);
    --angle: 180deg; 
    transform: perspective(600px) rotateY(0deg);
}


.hero-container span {
    font-family: 'Editorial New';
    text-decoration: underline;
    color: #7d889f;
    letter-spacing: -0.7px !important;
}

.button-container {
    margin: 0;
    display: flex;
    gap: 1rem;
}

.hero-container .why-cta{
    display: flex;
    justify-content: center;
    align-items: center;
    border: 20px solid black;
    border-width: 0.05rem;
    color: black;
    background-color: transparent;
    width: 6rem;
    height: 2rem;
    border-radius: 4px;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    user-select: none;
    transition: 0.2s ease;
}

.why-cta:hover{
    border-color: #00000000;
    background-color: #545e72;
    color: rgb(255, 255, 255);
    cursor: pointer;
}

.hero-container .reg-cta {
    display: flex;
    justify-content: center;
    align-items: center;
    border-style: none;
    border-radius: 4px;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    color: white;
    background-color: rgb(49, 49, 49);
    user-select: none;
    transition: 0.3s ease;
}

.hero-container .reg-cta:hover {
    background-color: rgb(209, 209, 209);
    color: black;
    cursor: pointer;
}

.text-container .divider {
    width: 500px;
    height: 1.5px;
    background-color: rgba(49, 49, 49, 0.159);
    margin: 10px 0 0 0px;
    user-select: none;
}

.text-container {
    margin: 0px 0 20px 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.text-container p {
    font-size: 1.7rem;
    letter-spacing: -2px !important;
    color: #545e72;
    user-select: none;
}

.points-container {
    display: flex;
}

.points {
    font-size: 2rem;
    padding: 0;
    margin: 0rem 0 2rem 7rem;
    text-align: left;
    opacity: 70%;
    user-select: none;
}

/* footer */

.footer-container {
    height: 60px;
    margin-top: 5rem;
    display: flex;
    align-items: center;
    border: 2px solid rgba(0, 0, 0, 0.079);
    background-color: rgb(248, 248, 248);
}

.footer-bar {
    width: 100%;
    margin: 0 2rem 0 2rem;
    font-size: 1rem;
    filter: drop-shadow(0 0 10px rgba(0, 0, 0, 0.209));
    display: flex;
    justify-content: space-between;
    letter-spacing: -1px;
}

.footer-socials {
    display: flex;
    gap: 1rem;
}

.footer-socials p{
    cursor: pointer;
    transition: 0.2s ease;
}

.footer-socials p:hover {
    color: rgb(51, 164, 251);
}

.footer-text {
    display: flex;
    gap: 20px;
}
#footer-text-note {
    opacity: 30%;
}