@font-face {
  font-family: 'Metrik';
  src: url('./MetrikTrial-Medium.otf') format('opentype');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Metrik';
  src: url('./MetrikTrial-Bold.otf') format('opentype');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'Metrik';
  src: url('./MetrikTrial-Black.otf') format('opentype');
  font-weight: 900;
  font-style: normal;
}
@font-face {
  font-family: 'Metrik';
  src: url('./MetrikTrial-Regular.otf') format('opentype');
  font-weight: 400;
  font-style: normal;
}
