.cards-container {
    margin: 0;
    padding: 0;
}

.cards {
    display: flex;
    flex-direction: column;
    /* justify-content: center;
    align-items: center; */
    width: 30vw;
    height: 33vh;
    margin: 10px 10px 10px 10px;
    background-color: rgb(39, 39, 39);
}

.cards{
    color: rgb(255, 255, 255);
    border-radius: 15px;

}

.daily-spend-title {
    margin: 30px 0px 0px 40px;
    font-size: 0.9rem;
    font-weight: 400;
    opacity: 70%;
}



.daily-spend-amount {
    font-size: 2rem;
    margin: 5px 0px 0px 40px;
}
