.cards-container {
    display: flex;
    flex-direction: row;
    margin: 0;
    padding: 0;
}

.cards {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 33vw;
    height: 33vh;
    margin: 10px 10px 10px 10px;
    background-color: rgb(39, 39, 39);
}

.cards a{
    color: black;
}