.cards-container {
    /* display: flex;
    flex-direction: row;
    flex-wrap: wrap; */
    display: grid;
    
    margin: 1rem 1rem 1rem 1rem;
    padding: 0;
    gap: 1rem;
}

.overview-cards {
    display: flex;
    flex-direction: column;
    /* justify-content: center;
    align-items: center; */
    width: 30vw;
    height: 33vh;
    /* margin: 10px 10px 0 10px; */
    padding: 0;
    background-color: rgb(39, 39, 39);
    color: rgb(255, 255, 255);
    border-radius: 15px;
    flex: 1 1 300px;
    /* min-width: 300px; */
}

.title {
    margin: 30px 0px 0px 40px;
    font-size: 0.9rem;
    font-weight: 400;
    opacity: 70%;
}



.amount {
    font-size: 2rem;
    margin: 5px 0px 0px 40px;
}
